.creators-container {

  & ul {
    padding: 0;
    margin: 0;
  }
  & li {
    float: left;
    list-style: none;
    .divider {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.listagem-container .card-img-top {
  margin: 0;

}
